.jumbotron {
    background-image: url(jumbotron_photo_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    color: aliceblue;
    padding-top: 200px;
}

a.navbar-brand img{
    width: 100px;
}