.nav-link{
    color: #49cac5;
}

.nav-item{
    color: #49cac5;
}

.jumbotron1 {
    background-image: url(jumbotron_photo_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    color: aliceblue;
    padding-top: 200px;
}

.jumbotron2 {
    background-image: url(jumbotron_photo_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    color: aliceblue;
    padding-top: 200px;
}

a.navbar-brand img{
    width: 100px;
}

.head{
    font-family: 'Open Sans', sans-serif;
}

.body{
    font-family: 'Open Sans', sans-serif;
}

.trainer-photo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
      }

.centertext{
    text-align: center;
    color: #49cac5;
      }

.lefttext{
text-align: left;
color: #49cac5;
    }

.connorphoto img{
    width: 100%;
    vertical-align: left;
}

.navbar-expand-lg {
    color: #49cac5;
}

.navbar-light{
    color: #49cac5;
}
    
